Repository voxpupuli/puppet-firewalld, pull requests merged in 2018-06, with the labels that each got.

#166 Fix ordering when checking insync
  lib/puppet/type/firewalld_ipset.rb
  lib/puppet/type/firewalld_zone.rb
Labels: accepted, bug

#167 Add defaults for services and ports
  README.md
  lib/puppet/type/firewalld_port.rb
  lib/puppet/type/firewalld_service.rb
  manifests/init.pp
  spec/unit/puppet/type/firewalld_port_spec.rb
Labels: accepted

#168 Add firewalld config options
  manifests/init.pp
  spec/classes/init_spec.rb
  tests/test.pp
Labels: accepted, enhancement

#169 Add description and short option for firewalld zone
  .gitignore
  lib/puppet/provider/firewalld_zone/firewall_cmd.rb
  lib/puppet/type/firewalld_zone.rb
  spec/unit/puppet/provider/firewalld_zone_spec.rb
Labels: accepted, enhancement

#170 Ipset options
  lib/puppet/provider/firewalld.rb
  lib/puppet/provider/firewalld_ipset/firewall_cmd.rb
  lib/puppet/type/firewalld_ipset.rb
  lib/puppet_x/firewalld/property/positive_integer.rb
  manifests/init.pp
  spec/classes/init_spec.rb
  spec/unit/puppet/provider/firewalld_ipset_spec.rb
  spec/unit/puppet/type/firewalld_ipset_spec.rb
Labels: accepted, enhancement

#171 In a service definition, the port is optional
  spec/defines/custom_service_spec.rb
  spec/fixtures/services/custom_service.xml
  templates/service.xml.erb
Labels: accepted

#172 Use types and remove validate
  .fixtures.yml
  manifests/custom_service.pp
  metadata.json
Labels: accepted, enhancement

#173 Ipset name can have dash
  lib/puppet/type/firewalld_ipset.rb
  spec/unit/puppet/type/firewalld_ipset_spec.rb
Labels: accepted, enhancement

#174 Add validation for rich rule action
  lib/puppet/provider/firewalld_rich_rule/firewall_cmd.rb
  lib/puppet/type/firewalld_rich_rule.rb
  lib/puppet_x/firewalld/property/rich_rule_action.rb
  spec/unit/puppet/provider/firewalld_rich_rule_spec.rb
  spec/unit/puppet/type/firewalld_rich_rule_spec.rb
Labels: accepted, enhancement
