Repository voxpupuli/puppet-firewalld, pull requests merged in 2019-10, with the labels that each got.

#229 Move CHANGELOG.md to HISTORY.md
  HISTORY.md
Labels: skip-changelog

#230 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#234 Native type autorequires for the firewalld service
  lib/puppet/type/firewalld_direct_chain.rb
  lib/puppet/type/firewalld_direct_passthrough.rb
  lib/puppet/type/firewalld_direct_purge.rb
  lib/puppet/type/firewalld_direct_rule.rb
  lib/puppet/type/firewalld_ipset.rb
  lib/puppet/type/firewalld_port.rb
  lib/puppet/type/firewalld_rich_rule.rb
  lib/puppet/type/firewalld_service.rb
  lib/puppet/type/firewalld_zone.rb
  spec/unit/puppet/type/firewalld_direct_chain_spec.rb
  spec/unit/puppet/type/firewalld_direct_passthrough_spec.rb
  spec/unit/puppet/type/firewalld_direct_rule_spec.rb
  spec/unit/puppet/type/firewalld_ipset_spec.rb
  spec/unit/puppet/type/firewalld_port_spec.rb
  spec/unit/puppet/type/firewalld_rich_rule_spec.rb
  spec/unit/puppet/type/firewalld_service_spec.rb
  spec/unit/puppet/type/firewalld_zone_spec.rb
Labels: enhancement

#232 Fix firewall commands being run on compiler
  lib/puppet/provider/firewalld.rb
Labels: bug

#237 Release 4.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
