Repository voxpupuli/puppet-firewalld, pull requests merged in 2020-04, with the labels that each got.

#280 modulesync 2.12.0
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#277 Native firewalld custom service
  .rspec
  README.md
  REFERENCE.md
  functions/safe_filename.pp
  lib/puppet/provider/firewalld_custom_service/firewall_cmd.rb
  lib/puppet/type/firewalld_custom_service.rb
  lib/puppet/type/firewalld_service.rb
  manifests/custom_service.pp
  manifests/init.pp
  spec/acceptance/suites/default/00_default_spec.rb
  spec/classes/init_spec.rb
  spec/defines/custom_service_spec.rb
  spec/fixtures/services/custom_service.xml
  spec/fixtures/services/custom_service_port_range.xml
  spec/unit/puppet/provider/firewalld_custom_service_spec.rb
  spec/unit/puppet/type/firewalld_custom_service_spec.rb
  templates/service.xml.epp
Labels: bug

#278 Parse arguments to passthrough provider with spaces correctly
  lib/puppet/provider/firewalld_direct_passthrough/firewall_cmd.rb
Labels: enhancement

#271 Add icmp-type support to rich rules
  lib/puppet/provider/firewalld_rich_rule/firewall_cmd.rb
  lib/puppet/type/firewalld_rich_rule.rb
  spec/unit/puppet/provider/firewalld_rich_rule_spec.rb
  spec/unit/puppet/type/firewalld_rich_rule_spec.rb
Labels: enhancement

#284 Fix `firewalld_custom_service` `port` validation
  lib/puppet/type/firewalld_custom_service.rb
  spec/unit/puppet/type/firewalld_custom_service_spec.rb
Labels: bug

#286 Release 4.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
