Repository voxpupuli/puppet-firewalld, pull requests merged in 2020-02, with the labels that each got.

#257 Modulesync 2.11.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  lib/puppet/provider/firewalld_direct_purge/firewall_cmd.rb
  spec/unit/puppet/type/firewalld_direct_chain_spec.rb
  spec/unit/puppet/type/firewalld_direct_passthrough_spec.rb
  spec/unit/puppet/type/firewalld_direct_rule_spec.rb
  spec/unit/puppet/type/firewalld_ipset_spec.rb
  spec/unit/puppet/type/firewalld_port_spec.rb
  spec/unit/puppet/type/firewalld_rich_rule_spec.rb
  spec/unit/puppet/type/firewalld_service_spec.rb
  spec/unit/puppet/type/firewalld_zone_spec.rb
Labels: modulesync

#253 check for running firewalld in custom_service::reload
  manifests/custom_service.pp
Labels: needs-tests

#252 #235 Backend Firewall
  README.md
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement

#260 Release 4.2.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#262 Release 4.2.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
