Repository voxpupuli/puppet-firewalld, pull requests merged in 2020-03, with the labels that each got.

#268 Convert `firewalld_zone` docs to puppet-strings
  REFERENCE.md
  lib/puppet/type/firewalld_zone.rb
Labels: docs

#267 Convert `firewalld_service` docs to puppet-strings
  REFERENCE.md
  lib/puppet/type/firewalld_service.rb
Labels: docs

#266 Service filename bugfix
  REFERENCE.md
  functions/safe_filename.pp
  lib/puppet/provider/firewalld_zone/firewall_cmd.rb
  lib/puppet/type/firewalld_zone.rb
  manifests/custom_service.pp
  manifests/init.pp
  manifests/reload.pp
  manifests/reload/complete.pp
  spec/classes/init_spec.rb
  spec/classes/reload/complete_spec.rb
  spec/classes/reload_spec.rb
  spec/functions/safe_filename_spec.rb
  templates/service.xml.epp
  templates/service.xml.erb
Labels: bug

#274 Release of 4.2.4
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
