Repository voxpupuli/puppet-firewalld, pull requests merged in 2023-08, with the labels that each got.

#330 Add support for icmp-block-inversion
  lib/puppet/provider/firewalld_zone/firewall_cmd.rb
  lib/puppet/type/firewalld_zone.rb
  spec/unit/puppet/provider/firewalld_zone_spec.rb
  spec/unit/puppet/type/firewalld_zone_spec.rb
Labels: backwards-incompatible

#343 Add Puppet 8 support
  metadata.json
Labels: enhancement

#342 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#329 Fix rich rule with typed action
  lib/puppet/provider/firewalld_rich_rule/firewall_cmd.rb
  lib/puppet/type/firewalld_rich_rule.rb
  spec/unit/puppet/provider/firewalld_rich_rule_spec.rb
  spec/unit/puppet/type/firewalld_rich_rule_spec.rb
Labels: bug

#317 Set default_zone and log_denied when firewalld is offline
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement

#349 update reference md
  REFERENCE.md
Labels: skip-changelog

#350 Run rubocop linter
  README.md
  lib/facter/firewalld_version.rb
  lib/puppet/provider/firewalld.rb
  lib/puppet/provider/firewalld_custom_service/firewall_cmd.rb
  lib/puppet/provider/firewalld_direct_chain/firewall_cmd.rb
  lib/puppet/provider/firewalld_direct_passthrough/firewall_cmd.rb
  lib/puppet/provider/firewalld_direct_purge/firewall_cmd.rb
  lib/puppet/provider/firewalld_direct_rule/firewall_cmd.rb
  lib/puppet/provider/firewalld_ipset/firewall_cmd.rb
  lib/puppet/provider/firewalld_policy/firewall_cmd.rb
  lib/puppet/provider/firewalld_port/firewall_cmd.rb
  lib/puppet/provider/firewalld_rich_rule/firewall_cmd.rb
  lib/puppet/provider/firewalld_service/firewall_cmd.rb
  lib/puppet/provider/firewalld_zone/firewall_cmd.rb
  lib/puppet/type/firewalld_custom_service.rb
  lib/puppet/type/firewalld_direct_chain.rb
  lib/puppet/type/firewalld_direct_passthrough.rb
  lib/puppet/type/firewalld_direct_purge.rb
  lib/puppet/type/firewalld_direct_rule.rb
  lib/puppet/type/firewalld_ipset.rb
  lib/puppet/type/firewalld_policy.rb
  lib/puppet/type/firewalld_port.rb
  lib/puppet/type/firewalld_rich_rule.rb
  lib/puppet/type/firewalld_service.rb
  lib/puppet/type/firewalld_zone.rb
  spec/acceptance/suites/default/00_default_spec.rb
  spec/classes/init_spec.rb
  spec/classes/reload/complete_spec.rb
  spec/classes/reload_spec.rb
  spec/functions/safe_filename_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/unit/facter/firewalld_version_spec.rb
  spec/unit/puppet/provider/firewalld_custom_service_spec.rb
  spec/unit/puppet/provider/firewalld_ipset_spec.rb
  spec/unit/puppet/provider/firewalld_policy_spec.rb
  spec/unit/puppet/provider/firewalld_rich_rule_spec.rb
  spec/unit/puppet/provider/firewalld_zone_spec.rb
  spec/unit/puppet/type/firewalld_custom_service_spec.rb
  spec/unit/puppet/type/firewalld_direct_chain_spec.rb
  spec/unit/puppet/type/firewalld_direct_passthrough_spec.rb
  spec/unit/puppet/type/firewalld_direct_rule_spec.rb
  spec/unit/puppet/type/firewalld_ipset_spec.rb
  spec/unit/puppet/type/firewalld_policy_spec.rb
  spec/unit/puppet/type/firewalld_port_spec.rb
  spec/unit/puppet/type/firewalld_rich_rule_spec.rb
  spec/unit/puppet/type/firewalld_service_spec.rb
  spec/unit/puppet/type/firewalld_zone_spec.rb
Labels: enhancement
